form span,
.required-note span {
  color: rgb(255, 129, 144);
  vertical-align: top;
}

section p {
  margin-bottom: 8px;
  font-size: 20px;
}

section {
  width: 100%;
}

form input:hover,
form textarea:hover,
.select-selected:hover,
button:hover {
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(38, 40, 40, 0.15);
}

form input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin: 0;
  display: none;
}

::placeholder {
  font-size: 20px;
  color: rgb(209, 209, 209);
}

.add-task-custom-select {
  position: relative;
  display: inline-block;
  width: 100%; /* Breite des Dropdowns */
  height: 48px;
  border: none;
}

.select-selected {
  position: relative;
  background-color: #fff; /* Hintergrundfarbe des ausgewählten Wertes */
  padding: 10px 21px;
  /* margin-bottom: 28px; */
  font-size: 20px;
  cursor: pointer;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 6px;
  z-index: 2;
}

.select-items {
  position: absolute;
  top: 35px;
  padding-top: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;
  width: 100%; /* Breite anpassen */
  display: none; /* Standardmäßig ausblenden */
  z-index: 1;
  overflow: auto;
  max-height: 225px;
}

.select-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
}

/* Hover-Effekt für Optionen */
.select-option:hover {
  background-color: #f0f0f0; /* Hintergrundfarbe beim Hover */
  border-radius: 12px;
}

/* Dropdown Pfeil */
.add-task-custom-select::after {
  content: "▼"; /* Dropdown-Pfeil */
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Verhindert, dass der Pfeil klickbar ist */
  font-size: 12px;
  z-index: 2;
}

.add-task-custom-select.open::after {
  transform: translateY(-50%) rotate(180deg); /* Pfeil um 180 Grad drehen */
}

/* Einblendung des Dropdowns bei Klick */
.add-task-custom-select.open .select-items {
  display: block; /* Dropdown anzeigen */
}

section button {
  height: 56px;
  width: 40%;
  margin-bottom: 28px;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 6px;
  background-color: white;
  font-size: 20px;
  font-weight: 400;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

form {
  display: flex;
  font-size: 20px;
}

form input {
  border: 1px solid rgb(204, 204, 204);
  padding: 12px 21px 12px 21px;
  border-radius: 6px;
  /* margin-bottom: 28px; */
  height: 48px;
  width: 100%;
  font-size: 20px;
}

.error-msg-addtask {
  margin-top: 4px;
  margin-bottom: 28px;
  color: red;
  font-size: 0.8rem;
}

form .resizable-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 21px;
  border: 1px solid rgb(214, 214, 214);
  border-radius: 6px;
  margin-bottom: 28px;
  resize: vertical;
  font-size: 20px;
}

form .resizable-textarea:focus,
input:focus,
.add-task-custom-select:focus-within {
  border-width: 1.8px;
  border-color: rgb(41, 171, 226); /* Randfarbe ändern bei Fokus */
  outline: none; /* Entfernt den Standard-Fokus-Rahmen */
}

.divider {
  height: 424px; /* Höhe der Trennlinie */
  width: 1.5px;
  background-color: rgb(214, 214, 214); /* Farbe der Trennlinie */
  margin: 0 48px;
}

.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.initial {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid white;
  border-radius: 50%;
  color: white;
  font-size: 12px;
}

.name {
  padding-left: 12px;
}

.select-option.active {
  background-color: rgb(
    42,
    54,
    71
  ); /* Hintergrundfarbe für die aktive Option */
  color: white;
  border-radius: 12px;
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #0f0e0e; /* Rahmenfarbe */
  border-radius: 25%; /* Runde Ecken */
  background-color: #fff; /* Hintergrundfarbe */
  position: relative;
  cursor: pointer; /* Zeiger-Cursor */
}

/* Erstelle den "Haken" für die Checkbox */
.custom-checkbox.checked {
  border-color: white; /* Rahmenfarbe wenn aktiv */
  background-color: rgb(42, 54, 71);
}

/* Füge das Häkchen hinzu */
.custom-checkbox.checked:after {
  content: "";
  position: absolute;
  left: 8px; /* Position des Häkchens */
  top: -6px; /* Position des Häkchens */
  width: 4px; /* Breite des Häkchens */
  height: 18px; /* Höhe des Häkchens */
  border: solid white; /* Häkchenfarbe */
  border-width: 0 2px 2px 0; /* Häkchenform */
  transform: rotate(45deg); /* Häkchen drehen */
}

#selected-initials {
  margin-top: 10px;
  display: flex;
}

#initials-display {
  display: flex;
}

.subtask-group {
  position: relative;
}

.subtask-icons {
  position: absolute;
  right: 10px;
  top: 25%;
  cursor: pointer;
}

.subtask-icons img {
  width: 24px;
}

.subtask-icons img:hover {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 50%;
}

.mg-left {
  margin-left: 8px;
}

.subtask-added-list {
  padding: 10px 10px 0px 10px;
  max-height: 125px;
  overflow-y: auto;
}

.subtask-list-group form input {
  border: none;
  padding: 4px 64px 4px 16px;
  font-size: 1rem;
}

.subtask-list-group:hover input {
  background-color: rgb(238, 238, 238);
}

.subtask-list-icons img:hover {
  transform: scale(1.08);
}

.subtask-list-group input {
  transition: background-color 125ms;
  background-color: rgb(246, 247, 248);
  margin-bottom: 5px;
  height: 30px;
  width: 100%;
}

.subtask-list-group input:focus {
  border: 2px solid white;
}

.subtask-list-icons {
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
}

.subtask-list-icons img {
  width: 20px;
}

.bullet-point {
  margin-right: 40px; /* Verringert den Abstand zwischen Bullet Point und Eingabefeld */
  font-size: 1.2em; /* Größe des Bullet Points */
  color: #333; /* Farbe des Bullet Points */
  display: inline-block;
  vertical-align: middle; /* Ze ntriert das Bullet Point mit dem Eingabefeld */
}

.subtask-list-input {
  margin-bottom: 0;
  height: 30px;
}

.subtask-input {
  margin-bottom: 0;
}

.subtask-list-group .subtask-list-icons {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.subtask-list-group:hover .subtask-list-icons {
  opacity: 1;
}

.icon-separator {
  display: inline-block;
  width: 1px;
  height: 20px; /* Höhe des Strichs, passend zur Icon-Größe */
  background-color: #ccc; /* Farbe des Strichs */
  margin: 0 8px; /* Abstand zwischen den Icons und dem Strich */
}

.task-button {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  width: 30%;
}

.task-button img {
  position: relative;
  top: 2px;
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.task-button.active {
  color: white;
  font-weight: 700;
  cursor: unset;
  box-shadow: none;
}

.task-button[data-color="urgent"].active {
  background-color: rgb(255, 61, 0);
}

.task-button[data-color="medium"].active {
  background-color: rgb(255, 168, 0);
}

.task-button[data-color="low"].active {
  background-color: rgb(122, 226, 41);
}

.clear-create-button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 33%;
}

.clear-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  border-color: rgb(42, 54, 71);
}

.clear-button:hover {
  color: rgb(41, 171, 226);
  border: 2px solid rgb(41, 171, 226);
}

.clear-button img,
.create-button img {
  margin-left: 5px;
}

.create-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(42, 54, 71);
  font-size: 21px;
  font-weight: 700;
  border: none;
  margin-left: 16px;
  width: 183px;
}

.create-button:hover {
  background-color: rgb(41, 171, 226);
}

.required-note {
  font-size: 16px;
}

.mg-b-28 {
  margin-bottom: 28px;
}

.mg-t-28 {
  margin-top: 28px;
}

.d-none {
  display: none;
}

@media (max-width: 900px) {
  form {
    display: block;
  }
  .required-note {
    margin-top: 36px;
  }

  .divider {
    display: none;
  }

  .clear-create-button-container {
    margin-top: 80px;
    padding-bottom: 100px;
    position: fixed;
    bottom: -15px;
    right: 60px;
    z-index: 15;
  }

  .subtask-container {
    padding-bottom: 300px;
  }

  .subtask-list-group .subtask-list-icons {
    opacity: 1;
  }
}
