main {
  padding-top: 48px;
  padding-right: 56px;
  padding-left: 56px;
  background-color: rgb(246, 247, 248); /* //TODO wieder aktivieren */
  /* background-color: gray; TODO Zeile löschen */
}

main h2 {
  font-size: 56px;
  margin-bottom: 0;
  margin-right: 10px;
}

.gap-32px {
  gap: 32px;
}

.search {
  all: unset;
  padding: 0 4px;
}

.searchbar {
  border: 1px solid rgb(204, 204, 204);
  padding: 4px 16px;
  border-radius: 10px;
}

.searchbar input {
  width: 100%;
  max-width: 300px;
}

.searchbar img {
  border-left: 2px solid rgb(204, 204, 204);
  padding-left: 12px;
}

.add-task {
  border: unset;
  padding: 10px 15px;
  background-color: rgba(42, 54, 71, 1);
  color: white;
  font-size: 1rem;
  gap: 8px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

.add-task img {
  width: 16px;
}

section {
  max-width: 252px;
}

.section-container {
  margin-top: 40px;
  gap: 20px;
  max-width: 1350px;
  padding: 0 16px;

  /* height: 100%; */
}

.section-container section {
  width: 100%;
  color: rgba(66, 82, 110, 1);
  font-weight: bold;
  font-size: 1.2rem;

  height: 70vh;
}

/* .section-container section div:nth-child(2) {
    background-color: white; TODO
} */

.section-container section img {
  width: 24px;
  cursor: pointer;
}

.column-title {
  margin-bottom: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  gap: 16px;
  overflow-y: auto;
  scrollbar-width: thin;

  height: 100%;
}

.drag-area-highlight {
  /* background-color: rgb(246, 247, 248); */
  background-color: rgb(0, 0, 0, 0.07);
}

.task {
  background-color: white;
  padding: 16px;
  border-radius: 16px;
  max-width: 252px;
  font-size: 1rem;
  font-weight: 400;
}

.task-category {
  color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 4px 16px;
  /* display: flex; */
}

.task .title {
  margin-top: 16px;
  font-weight: 700;
}
.task .description {
  color: rgb(168, 168, 168);
  padding: 4px 0;
}

.task .subtasks {
  margin: 20px 0;
}

.done-content {
  overflow-y: auto;
  scrollbar-width: thin;
  height: 70vh;
}

.done-content .task {
  margin-top: 16px;
}

.bg-technical-task {
  background-color: rgba(31, 215, 193, 1);
}

.bg-user-story {
  background-color: rgb(0, 56, 255);
}

.d-flex-sb-s {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.no-task {
  border: 1px dashed;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(231, 231, 231, 1);
  color: rgba(168, 168, 168, 1);
  text-align: center;
  padding: 10px 4px;
  font-size: 16px;
}

.dialog-bg {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.detail-task {
  position: relative;
  display: flex;
  flex-direction: column;
  /* position: absolute; */
  background-color: white;
  padding: 24px;
  border-radius: 16px;
  width: 100%;
  max-width: 440px;
  height: 100%;
  max-height: 700px;
  gap: 20px;
}
.detail-task .title {
  font-size: 40px;
  font-weight: bold;
  /* margin: 16px 0; */
}

.detail-task .prio-img {
  width: 16px;
  margin-left: 4px;
}

.color-blue {
  color: rgb(42, 54, 71);
}

.color-black {
  color: rgb(0, 0, 0);
}

.xmark {
  width: 32px;
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
}

.xmark:hover {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 50%;
}

.configuration {
  position: absolute;
  bottom: 40px;
  right: 40px;
  display: flex;
}

.configuration div {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px 8px;
}

.configuration span {
  font-size: 14px;
}

.configuration div:hover span {
  color: rgb(41, 171, 226);
  transform: scale(1.04);
}

.configuration img {
  width: 16px;
  margin-right: 8px;
}

.btn-hover:hover {
    background-color: rgb(41, 171, 226);
    color: white
}

.plus-button {
    width: 24px;
    height: 24px;
    background-image: url('/assets/icons/board/plus-btn.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: unset;
    cursor: pointer;
    transition: background-image 200ms ease; /* Sanfter Übergang beim Hover */
  }

  .plus-button:hover {
    background-image: url('/assets/icons/board/plus-btn-hover.svg'); /* Standard-Bild */
  }

.configuration div:hover img {
  filter: invert(40%) sepia(60%) saturate(400%) hue-rotate(170deg);
}

.separator {
  border-left: 1px solid rgb(0, 0, 0, 0.2);
}

.slide-in {
  /* position: relative; */
  /* display: inline-block; */
  animation: slide-in 150ms linear forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(0);
  }
}

.slide-out {
  /* position: relative;
    display: inline-block; */
  animation: slide-out 150ms linear forwards;
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(250%);
  }
}

.pop-up-add-Task {
  width: 100%;
  background-color: white;
  max-width: 1000px;
  height: 100%;
  max-height: 700px;
  border-radius: 30px;
  padding: 72px;
}
