.slide-in {
    animation: slide-in 150ms linear forwards;
  }
  
  @keyframes slide-in {
    0% {
      transform: translate(50%, -50%);
      /* Rechts außerhalb */
    }
  
    100% {
      transform: translate(-50%, -50%);
      /* Zentriert */
    }
  }
  
  .slide-out {
    animation: slide-out 150ms linear forwards;
  }
  
  @keyframes slide-out {
    0% {
      transform: translate(-50%, -50%);
      /* Ausgangsposition: zentriert */
    }
  
    100% {
      transform: translate(50%, -50%);
      /* Zielposition: nach rechts außerhalb */
    }
  }