/* overflow hidden bei open popup */
.main-contact{
    padding: 0;
    width: 100%;
    height: calc(100vh - 96px);
}

.main-contact-side {
    width: 456px;
    background-color: white;
    box-shadow: 3px 0px 6px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: scroll;
    position: fixed;
    top: 96px;
}

.contact-list-field {
    width: 400px;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    padding: 32px 24px;

}

.contact-list-field-button {
    width: 352px;
    height: 56px;
    border: 1px;
    border-radius: 10px;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 21px;
    font-weight: 700;
    color: white;
    background-color: #2A3647;
}

.contact-group h2 {
    width: 352px;
    height: 58px;
    padding: 17px 36px;
    font-size: 20px;
    font-weight: 400;
    margin: 0;

}

.contactlist-vector {
    width: 352px;
    height: 1px;
    background-color: #D1D1D1;
}

.contact-profil {
    display: flex;
    flex-direction: column;
}

.contact-item {
    width: 352px;
    height: 78px;
    padding: 15px 24px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 35px;
}

.contact-initials {
    width: 42px;
    height: 42px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    border: 2px solid white;
    font-size: 12px;
    font-weight: 400;

}

.contact-name-mail {
    width: 200px;
    max-height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.contactlist-name {
    font-size: 20px;
    font-weight: 400;
}

.contactlist-mail {
    font-size: 20px;
    font-weight: 400;
    color: blue;
}

.contact-text {
    position: absolute;
    top: 206px;
    left: 743px;
    width: 569px;
    height: 73px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;

}

.contact-text .span-1 {
    font-size: 61px;
    font-weight: 700;
}

.contact-text .contact-vector {
    height: 59px;
    width: 3px;
    background-color: #29ABE2;

}

.contact-text .span-2 {
    max-width: 235px;
    height: 32px;
    font-size: 27px;
    font-weight: 400;
    color: #2A3647;

}

.contact-info{
    min-width: 461px;
    height: 364px;
    position: absolute;
    top: 311px;
    left: 750px;
}

.info-initial-name{
    min-width: 461px;
    height: 120px;
    display: flex;
    align-items: center;
    gap: 54px;
}

.info-initial{
    width: 120px;
    height: 120px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-sizing: border-box;
    border: 2px solid white;
    font-size: 47px;
    font-weight: 500;
}

.info-name-button{
    min-width: 287px;
    height: 88px;
    gap: 8px;

}

.info-name{
    min-width: 287px;
    height: 56px;
    font-size: 47px;
    font-weight: 500;
}

info-edit

info-delete

info-text

info-email

info-phone


/*class unterhalb wird nicht angezeigt*/


.background-pop-up {
    position: fixed;
    z-index: 999;
    width: 1440px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.594);
}

/* Pop-up Add Contact */

.pop-up-contact {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 1212px;
    height: 594px;
    border-radius: 30px;
    background-color: white;
}

.contact-side-info {
    width: 467px;
    height: 594px;
    background-color: #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0 0 30px;

}

.contact-logo {
    position: absolute;
    top: 154px;
    left: 47px;
    width: 56px;
    height: 67px;
}

.contact-side-info-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 371px;
}

.add-contact {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-contact-headline {
    font-size: 61px;
    font-weight: 700;
    color: white;
}

.add-contact-info {
    font-size: 27px;
    font-weight: 400;
    color: white;
}

.contact-vector {
    height: 3px;
}

.close-popup {
    display: flex;
    position: absolute;
    top: 48px;
    left: 1132px;
    border: none;
    background-color: white;
}

.close-popup img {
    width: 32px;
    height: 32px;
}


.contact-pic {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 204px;
    left: 550px;
}

.contact-field {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: absolute;
    top: 137px;
    left: 742px;
    width: 422px;
    height: 215px;
}

.contact-field #name::placeholder {
    background-image: url(/assets/icons/contact/person.png);
    background-repeat: no-repeat;
    display: flex;
    background-position: 100%;
    background-size: 24px;
}

.contact-field #email::placeholder {
    background-image: url(/assets/icons/contact/mail.png);
    background-repeat: no-repeat;
    display: flex;
    background-position: 100%;
    background-size: 24px;
}

.contact-field #phonenumber::placeholder {
    background-image: url(/assets/icons/contact/call.png);
    background-repeat: no-repeat;
    display: flex;
    background-position: 100%;
    background-size: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* input[type=number] {
  appearance: textfield;
} */

input {
    width: 422px;
    height: 51px;
    line-height: 30px;
    font-size: 20px;
    padding: 13px 21px;
    margin: 0;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.input-button {
    display: flex;
    gap: 24px;
    width: 364px;
    height: 56px;
    position: absolute;
    top: 400px;
    left: 742px;
}

.cancel {
    width: 126px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px;
    padding: 16px;
    gap: 4px;
    font-size: 20px;
    font-weight: 400;
}

.create {
    width: 214px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px;
    padding: 16px;
    gap: 4px;
    font-size: 21px;
    font-weight: 700;
    background: #2A3647;
    color: white;
}

.success-message {
    width: 326px;
    height: 74px;
    font-size: 20px;
    font-weight: 400;
    background-color: #2A3647;
    color: white;
    border-radius: 20px;
    z-index: 500;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0);

}

/* Ende Add Contact */