.lnH1{
    margin: 0;
    font-size: 61px;
    font-weight: 700;
}
.lnImg{
    position: absolute;
    top: 110px;
    left: 96px;
    width: 1014px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.lnImg button{
    border: none;
    background-color: rgb(246,247,248);
    padding: 0;
}

.lnMain{
    width: 1014px;
    height: 943px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: absolute;
    top: 215px;
    left: 96px;

}

.gap16{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.lnH2{
    margin: 0;
    font-size: 27px;
}

.lnUl{
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 16px;
}

.lnH3{
    margin: 0;
}

.lnP{
    margin: 0;
    font-size: 16px;
}