html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.wrapper {
  position: relative;
  background-color: rgb(246, 247, 248);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.logo-animation {
  position: absolute;
  z-index: 1;
  background-color: rgb(246, 247, 248);
  animation: moveToCorner 1000ms linear forwards;
}

@keyframes moveToCorner {
  from {
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    width: 100px;
    height: 120px;
    top: 50px;
    left: 50px;
  }
}

.header-btn-container {
  position: absolute;
  top: 50px;
  right: 100px;
  display: flex;
  gap: 35px;
  max-width: 279px;
  max-height: 49px;
  background: rgba(246, 247, 248, 1);
}

.header-btn-container button {
  border: unset;
  font-weight: bold;
}

.header-btn-container button:first-child {
  background-color: rgb(246, 247, 248);
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.header-btn-container a {
  display: flex;
  background-color: rgba(42, 54, 71);
  padding: 15px 16px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  transition: background-color 200ms;
}

.header-btn-container a:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.entry-modal {
  display: flex;
  justify-content: center;
  background-color: white;
  max-width: 652px;
  max-height: 493px;
  width: 100%;
  padding: 40px 10px;
  gap: 32px;
  border-radius: 30px;
}

.modal-content {
  width: 100%;
  max-width: 422px;
}

.modal-content h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
}

.modal-content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-content .underline-headline {
  border: 3px solid rgba(41, 171, 226, 1);
  width: 100%;
  max-width: 100px;
  text-align: center;
  margin-bottom: 21px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-group {
  position: relative;
}

.input-group input {
  display: flex;
  width: 100%;
  padding: 12px 21px 12px 21px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.1);
  font-size: 18px;
  opacity: 0.4;
}

.input-group img {
  position: absolute;
  top: 24px;
  right: 15px;
  transform: translateY(-50%);
  width: 16px;
}

label {
  padding-left: 56px;
  font-size: 16px;
  cursor: pointer;
}

.form-checkbox {
  margin: 15px 0 10px 0;
  transform: scale(1.5);
  margin-right: 10px;
  border: 5px solid black;
  cursor: pointer;
}

.entry-btn-container {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.entry-btn-container button {
  padding: 4px 2px;
  border: unset;
  cursor: pointer;
}

.entry-btn-container button:first-child {
  background-color: rgb(42, 54, 71);
  color: white;
  padding: 10px 25px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 200ms;
}
.entry-btn-container button:first-child:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.entry-btn-container button:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid black;
  transition: color 200ms;
  transition: border 200ms;
  background-color: white;
}

.entry-btn-container button:nth-child(2):hover {
  color: rgb(41, 171, 226);
  border: 1px solid rgb(41, 171, 226);
}

footer {
  position: absolute;
  bottom: 24px;
}

footer div {
  display: flex;
  gap: 24px;
}

footer a {
  font-size: 14px;
  color: rgb(168, 168, 168);
}

footer a:hover {
  color: rgb(41, 171, 226);
  transform: scale(1.04);
}

@keyframes moveToCornerMobile {
  from {
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    width: 40px;
    height: 50px;
    top: 30px;
    left: 30px;
  }
}

/* sign up css  */
.logo {
  position: absolute;
  z-index: 1;
  /* background-color: rgb(246, 247, 248); */
  width: 100px;
  height: 120px;
  top: 50px;
  left: 50px;
}

label span {
  opacity: 0.4;
}

.legal-link {
  color: rgb(41, 171, 226);
}

/* navbar  */
.navbar {
  position: fixed;
  z-index: 500;
  bottom: 0;
  left: 0;
  background-color: rgb(42, 54, 71);
  width: 100vw;
  height: 80px;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 16px;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 0;
  gap: 4px;
}

.navbar-item:hover {
  cursor: pointer;
}

.navbar-item img {
  height: 24px;
  width: 24px;
}

.navbar-item p {
  color: rgb(205, 205, 205);
  font-family: "open-sans";
  font-weight: 400;
  font-size: 14px;
}

.header {
  width: 1440px;
  height: 96px;
  box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
  display: none;
}
