html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  height: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.wrapper {
  position: relative;
  background-color: rgb(246, 247, 248);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoAnimation {
  position: absolute;
  left: 50px;
  top: 50px;
}

.headerBtnContainer {
  position: absolute;
  top: 50px;
  right: 100px;
  display: flex;
  gap: 35px;
  max-width: 279px;
  max-height: 49px;
  background: rgba(246, 247, 248, 1);
}

.headerBtnContainer button {
  border: unset;
  font-weight: bold;
}

.headerBtnContainer button:first-child {
  background-color: rgb(246, 247, 248);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
} 

.headerBtnContainer a {
  background-color: rgba(42, 54, 71);
  padding: 15px 16px 15px 16px;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  transition: background-color 200ms;
}

.headerBtnContainer a:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.loginModal {
  display: flex;
  justify-content: center;
  background-color: white;
  max-width: 652px;
  max-height: 493px;
  width: 100%;
  padding: 48px 115px 48px 115px;
  gap: 32px;
  border-radius: 30px;
}

.modalContent {
  width: 100%;
  max-width: 422px;
}

.modalContent h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  font-size: 40px;
  font-weight: 700;
}

.modalContent > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalContent .underlineHeadline {
  border: 3px solid rgba(41, 171, 226, 1);
  width: 100%;
  max-width: 100px;
  text-align: center;
  margin-bottom: 21px;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.inputContainer input {
  display: flex;
  width: 100%;
}

.inputContainer input:first-child,
.inputContainer input:nth-child(3) {
  padding: 12px 21px 12px 21px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid black;
  color: rgba(0, 0, 0, 0.1);
  font-size: 18px;
  opacity: 0.4;
}

.inputContainer img:nth-child(2) {
  position: absolute;
  top: 19%;
  right: 10px;
  transform: translateY(-50%);
  width: 24px;
}

.inputContainer img:nth-child(4) {
  position: absolute;
  bottom: 0%;
  right: 10px;
  transform: translateY(-50%);
  width: 24px;
}

label {
  padding-left: 39px;
  font-size: 16px;
  cursor: pointer;
}

.rememberCheckbox {
  margin: 40px 0 30px 0;
  transform: scale(1.5);
  margin-right: 10px;
  border: 5px solid black;
  cursor: pointer;
}

.btnLoginContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.btnLoginContainer button {
  padding: 4px 2px;
  border: unset;
  cursor: pointer;
}

.btnLoginContainer button:first-child {
  background-color: rgb(42, 54, 71);
  color: white;
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 200ms;
}
.btnLoginContainer button:first-child:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btnLoginContainer button:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 24px 15px 24px;
  border-radius: 8px;
  border: 1px solid black;
  transition: color 200ms;
  transition: border 200ms;
  background-color: white;
}

.btnLoginContainer button:nth-child(2):hover {
  color: rgb(41, 171, 226);
  border: 1px solid rgb(41, 171, 226);
}

footer {
  position: absolute;
  bottom: 24px;
}

footer div {
  display: flex;
  gap: 24px;
}

footer a {
  font-size: 14px;
  color: rgb(168, 168, 168);
}

footer a:hover {
  color: rgb(41, 171, 226);
  transform: scale(1.05);
}