main h1 {
  font-size: 47px;
  font-weight: 700;
}

main h2 {
  margin-top: 35px;
  font-size: 27px;
  font-weight: 700;
}

main p {
  margin-top: 10px;
}

.last-p {
  margin-bottom: 16px;
}



@media (min-width: 1025px) {
  main h1 {
    font-size: 61px;
  }
}

