
.wrapper {
    position: relative;
    background-color: rgb(246, 247, 248);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
  }

  









/* .animated-text {
    position: absolute;
    bottom: -100px; 
    opacity: 1;
    animation: moveAndFade 3s ease-out forwards;
  }

  @keyframes moveAndFade {
    0% {
      bottom: -100px;
      opacity: 1;
    }
    50% {
      bottom: 50%;
      transform: translateY(50%);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  } */