

/* .animated-text {
    position: absolute;
    bottom: -100px; 
    opacity: 1;
    animation: moveAndFade 3s ease-out forwards;
  }

  @keyframes moveAndFade {
    0% {
      bottom: -100px;
      opacity: 1;
    }
    50% {
      bottom: 50%;
      transform: translateY(50%);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  } */