main {
  background-color: rgb(246,247,248);
}

main h2 {
  font-size: clamp(32px, 5vw, 48px);
  margin-bottom: 0;
  margin-right: 10px;
}

.summary-container {
  display: flex;
  gap: 20px;
}

.grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 175px 175px 175px;
  gap: 20px;
  cursor: pointer;

}

.grid-container > div{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  gap: 16px;
}

.to-do {
  grid-column: 1 / span 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container > div:hover {
  color: white;
  background-color: rgb(42, 54, 71);
  transform: scale(1.05);
}

.to-do-img {
  background-image: url('/assets/icons/summary/edit-dark.svg');
  width: 69px;
  height: 69px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 200ms ease, background-image 0s ease;
}

.to-do:hover .to-do-img {
  background-image: url('/assets/icons/summary/edit-light.svg');
}

.done {
  grid-column: 4 / 7;
  grid-row: 1;
}

.done-img {
  background-image: url('/assets/icons/summary/check-dark.svg');
  width: 69px;
  height: 69px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 200ms ease, background-image 0s ease;
}

.done:hover .done-img {
  background-image: url('/assets/icons/summary/check-light.svg');
}

.priority {
  grid-column: 1 / 7;
  grid-row: 2;
}

.priority-img {
  background-image: url('/assets/icons/summary/urgent.svg');
  width: 69px;
  height: 69px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 200ms ease, background-image 0s ease;
}

.task-in-board {
  grid-column: 1 / span 2;
  grid-row: 3;
}

.task-in-progress {
  grid-column: 3 / span 2;
  grid-row: 3;
}

.awaiting-feedback {
  grid-column: 5 / span 2;
  grid-row: 3;
}

.user-greeting {
  width: 100%;
  background-color: green;
  border-radius: 20px;
}
