* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
  }

  .maxWidth {
    max-width: 1920px;
  }

  .dFlexSaCe {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .dFlexColumnCeCe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }