* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;/* nötig? */
  font-family: "Inter";
}
.maxWidth {
  max-width: 1920px;
}

.dNone {
  display: none;
} 

.dFlexCeCe {
  display: flex;
  justify-content: center;
  align-items: center;
}


.dFlexSbCe {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dFlexSeCe {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.dFlexFsCe {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.header{
    width: 1440px;
    height: 96px;
    box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 20px 348px;
}
.header p{
  font-size: 20px;
  font-weight: 400;
}

.header div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 104px;
  height: 56px;

}

.header button{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 32px;
  height: 32px;
}

.headerInitials{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  border: 3px solid #2A3647;
  font-size: 20px;
  color: #29ABE2;
  ;
}

.navbar {
  position: fixed;
  z-index: 500;
  bottom: 0;
  left: 0;
  background-color: rgb(42, 54, 71);
  width: 100vw;
  height: 80px;
}

.navbar a {
  text-decoration: none;
  color: rgb(168, 168, 168);
  font-weight: 400;
  font-size: 16px;
  padding: 8px 60px 8px 60px;
}

.navbar a:hover {
  color: rgb(41,171,226);
  font-weight: bold;
}

.navbar-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 16px;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(42, 54, 71);
  padding: 15px 0;
  gap: 4px;
}

.navbar-item:hover {
  cursor: pointer;
  background-color: rgb(42, 61, 89);
}

.navbar-item img {
  height: 24px;
  width: 24px;
}

.navbar-item p {
  color: rgb(205, 205, 205);
  font-family: "open-sans";
  font-weight: 400;
  font-size: 14px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 96px;
  width: 100%;
  box-shadow: -2px 0px 6px 0px rgba(0, 0, 0, 0.2);
  /* display: none; */
}

.d-none {
  display: none;
}

@media (min-width: 1025px) {
  .d-none {
    display: block;
  }

  .header {
    left: 232px;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 0;
    width: 232px;
    height: 100vh;
    padding: 64px 0px 64px 0px;
  }

  .navbar-join-icon-container {
    width: auto;
    display: flex;
    justify-content: center;
  }
  
  .navbar-join-icon-container img {
    width: 100px;
    height: 122px;
  }

  .navbar-item-container {
    flex-direction: column;
  }

  .navbar-item {
    flex-direction: row;
    width: 232px;
    height: 46px;
    padding: 8px 53px 8px 53px;
  }

  .navbar-item p {
    font-weight: 400;
    font-size: 16px;
  }

  .navbar-disclaimer-links-container {
    display: flex;
    flex-direction: column;
    width: 232px;
  }
}
