<nav class="navbar">
  <div class="navbar-join-icon-container d-none">
    <img src="/assets/icons/navbar_join_icon.svg" alt="" />
  </div>

  <div class="navbar-item-container">
    <div class="navbar-item">
      <img src="/assets/icons/summary_Icon.svg" alt="" />
      <p>Summary</p>
    </div>
    <div class="navbar-item">
      <img src="/assets/icons/board_icon.svg" alt="" />
      <p>Board</p>
    </div>
    <div class="navbar-item">
      <img src="/assets/icons/add_tasks.svg" alt="" />
      <p>Add Tasks</p>
    </div>
    <div class="navbar-item">
      <img src="/assets/icons/contacts_icon.svg" alt="" />
      <p>Contacts</p>
    </div>
  </div>

  <div class="navbar-disclaimer-links-container d-none">
    <a href="">Privacy Policy</a>
    <a href="">Legal Notice</a>
  </div>
</nav>
