<nav class="navbar">
    <div class="navbar-container">
            <div class="navbar-item">
                <img src="/assets/icons/summary_Icon.svg" alt="">
                <p>Summary</p>
            </div>
            <div class="navbar-item">
                <img src="/assets/icons/board_icon.svg" alt="">
                <p>Board</p>
            </div>
            <div class="navbar-item">
                <img src="/assets/icons/add_tasks.svg" alt="">
                <p>Add Tasks</p>
            </div>
            <div class="navbar-item">
                <img src="/assets/icons/contacts_icon.svg" alt="">
                <p>Contacts</p>
            </div>
    </div>
</nav